---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: false
---

<!-- Use this code for blog-style layout
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
-->

<h2> DSM: A Low-Overhead, High-Performance, Dynamic Stream Mapping Approach for MongoDB </h2>
DBMS: MongoDB <br/> 
Languages: C/C++, Shell script <br/> 
Technologies: Multi-streamed SSD, YCSB, Linkbench <br/>
<img src='/images/portfolio_imgs/project_DSM.jpg' width='800'>
